.centerAlign {
    width: 100%;
    text-align: center;
    border: 2px solid #000000;
}

.input {
    width: 50%;
    height: 50px;
}

button {
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 10px;
}

button:active {
    background-color: #aaaaaa;
}

button:hover {
    background-color: #dddddd;
}

.error {
    color: #ff0000;
}

.user {
    width: 100%;
    border: 2px solid #000000;
}

.user > * {
    margin-right: 5px;
}

.user > p {
    display: inline-block;
    height: inherit;
}

.user > button {
    display: inline-block;
    height:  inherit;
}

.newUser {
    width: 100%;
    border: 2px solid #000000;
}

.newUser > p {
    display: inline-block;
    height: inherit;
}

.newUser > button {
    display: inline-block;
    height:  inherit;
}

table, th, td {
    width: 100%;
    border: 2px solid #000000;
}
td {
    width: 33%;
}